/*CSS Reset*/
*{
    margin: 0px;
    padding: 0px;
}
 
/* setting font size for html document */

html{
    font-size:15px;
}

/* Navigation Bar */

#navbar{
    position: sticky;
    /* border: 3px solid red;
    background-color: rgb(243, 103, 103); */
    margin:auto;
    padding: 20px;
}

#navbar ul{
    display: flex;
    justify-content: flex-end;
}

#navbar ul li{
    list-style: none;
    font-family: 'Arvo', serif;
    font-size: 1.89rem;
    padding: 20px;
} 

#navbar div ul li a{
    text-decoration: none;
    color: rgb(175, 5, 110);
}

#navbar div ul li a:hover{
    border-radius: 10px;
    background-color: rgb(252, 134, 154);
    font-weight: bold;
}

/* Home page */

#home{
    font-family: 'Patua One', cursive;
    font-size: 4.5rem;
    color: rgb(156, 29, 156);
    margin: 1em; 
    height: 400px;  
}

#home h1{
    position: relative;
    text-align: center;
    color: rgb(1099, 54, 143);
}

/* For homapage background */

#home::before{
    content:"";
    background: url("bg_20.jpg");
    position: absolute;
    width: 100%;
    min-height: 800px;
    z-index: -1;
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Animation of Birthday text */

#animation_text{
    animation-name: happy_birthday;
    animation-duration: 3s;
    animation-iteration-count: 2;
    animation-fill-mode: forwards;
}

@keyframes happy_birthday{
from {
    font-size: 10px;
}
to{
    font-size: 115px;
}
}


/* Photo Album */

#photo_album{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 40px;
    margin-top: 200px ;
    margin-bottom: 20px;
    color: rgb(116, 6, 116)
}

#photo_album h2{
    font-family: 'Libre Baskerville', serif;
    font-size: 4rem;
    margin: 40px;
    font-weight: lighter;
}

#photo_album p{
    font-family: 'Source Serif Pro', serif;
    font-size: 2rem;
    margin: 10px 40px;
    text-align: center;  
}

.collage{
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    margin: auto;
    padding:40px;
} 

#one{
    border: 5px rgb(204, 67, 90) solid; 
    height: 600px;
    width: 700px;
    margin: 10px;
    border-radius: 40px;
}

#two{
    border: 5px rgb(204, 67, 90) solid;
    height: 600px;
    width: 700px;
    margin: 10px;
    border-radius: 40px;
}

#three{
    border: 5px rgb(204, 67, 90) solid;
    height: 600px;
    width: 700px;
    margin: 10px;
    border-radius: 40px;
}

#four{
    border: 5px rgb(204, 67, 90) solid;
    height: 600px;
    width: 700px;
    margin: 10px;
    border-radius: 40px;
}

#five{
    border: 5px rgb(204, 67, 90) solid;
    height: 600px;
    width: 700px;
    margin: 10px;
    border-radius: 40px;
}

#six{
    border: 5px rgb(204, 67, 90) solid;
    height: 600px;
    width: 700px;
    margin: 10px;
    border-radius: 40px;
}  

/* Surprise Page */

.surprise{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

#surprise h2{
    font-family: 'Libre Baskerville', serif;
    font-size: 4rem;
    color: rgb(116, 6, 116);
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px;
    margin:  20px 40px;
}

#surprise_txt {
    color: rgb(209, 22, 162);
    font-size: 3rem;
    font-family: 'Source Serif Pro', serif;
    text-align: center;
    margin: 10px 40px;
    padding:10px 40px;
}

 #surprise_btn{
        background-color: rgb(255, 86, 255);
        border-radius: 20px;
        padding: 20px;
        font-family: 'Arvo', serif;
        font-size: 2.8rem;
        float: left;
        margin: 30px;
}
    
#surprise_btn:hover{
        background-color: rgb(243, 35, 139);
        font-size: 2.8rem;
} 
    
#surprise_btn:active{
        background-color: rgb(235, 44, 193);
        font-size: 2.8rem;
}
    
#surprise_btn:visited{
        background-color: rgb(202, 8, 160);
        font-size: 2.8rem;
}
    
#my_img{
        display: inline-block;
        width: 500px;
        height: 500px;
        padding: 10px;
        border-radius: 20px;
        margin: 0px;
}
 
/* For responsive page for mobiles */

@media only screen and (max-width: 600px){
    #animation_text{
        animation-name: happy_birthday;
        animation-duration: 3s;
        animation-iteration-count: 2;
        animation-fill-mode: forwards;
    }
    
    @keyframes happy_birthday{
    from {
        font-size: 10px;
    }
    to{
        font-size: 50px;
    }
    }
    html{
        font-size:10px;
        font-family: 'Source Serif Pro', serif;
    }
    #navbar ul li{
        font-family: 'Libre Baskerville', serif;  
        font-size: 1.5rem;
        padding: 20px;
    } 
    #photo_album h2{
        font-size: 3rem;
    }
    
    #photo_album p{
        font-size: 2rem; 
    }
    #surprise h2{
        font-family: 'Libre Baskerville', serif;
        font-size: 3rem;
    }
    #surprise_txt {
        font-size: 2rem;
        font-family: 'Source Serif Pro', serif;
    }
}
    
/* utility class */
    
.center{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
}
    